
  .component {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
.line-chart {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.echarts-for-react {
  width: 100%;
  height: 300px; 
}


.dropdown-container {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
